@font-face {
    src: url('fonts/Montserrat-SemiBold.ttf');
}

.root{
	-fx-background-color: #F4F2F3;
}

.default-color0.chart-symbol{
	-fx-background-color: transparent;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.default-color1.chart-symbol{
	-fx-background-color: rgb(23,255,101);
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

