@font-face {
    src: url('fonts/Montserrat-SemiBold.ttf');
}

.root{
	-fx-background-color: linear-gradient(to left,#33373C,#F4F2F3);
	-fx-font-family: "Montserrat SemiBold";
}

Text{
	-fx-font-family: "Montserrat SemiBold";
}

.button{
	-fx-font-family: "Montserrat SemiBold";
	-fx-font-size: 40px;
}

.button:hover {
	-fx-background-color: linear-gradient(to left,#33373C,#F4F2F3);
	-fx-text-fill: white;
  	-fx-font-size: 40px;
}