@font-face {
    src: url('fonts/Montserrat-SemiBold.ttf');
}

.root{
	-fx-background-color: #F4F2F3;
	-fx-font-family: "Montserrat SemiBold";
}

Text{
	-fx-font-family: "Montserrat SemiBold";
}

.button{
	-fx-font-family: "Montserrat SemiBold";
	-fx-font-size: 20px;
}

.button:hover {
	-fx-background-color: #33373C;
	-fx-text-fill: white;
  	-fx-font-size: 20px;
}