@font-face {
    src: url('fonts/Montserrat-SemiBold.ttf');
}

.root{
	-fx-background-color: #F4F2F3;
}

.button{
	-fx-font-family: "Montserrat SemiBold";
}

#valenceText{
	-fx-font-family: "Montserrat SemiBold";
}

#arousalText{
	-fx-font-family: "Montserrat SemiBold";
}

#manualPlotText{
	-fx-font-family: "Montserrat SemiBold";
}

#CSVFileText{
	-fx-font-family: "Montserrat SemiBold";
}

#WAVFileText{
	-fx-font-family: "Montserrat SemiBold";
}

#coordinateDetail{
	-fx-font-family: "Montserrat SemiBold";
}	

#selectFile{
	-fx-font-family: "Montserrat SemiBold";
	-fx-font-size: 18;
}

.button:hover {
	-fx-background-color: #33373C;
	-fx-text-fill: white;
}

.default-color0.chart-symbol{
	-fx-background-color: transparent;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}